.img {
    height: 200px;
    width: auto;
    margin-right: 10px;
}
#gallery {
    display: flex;
    justify-content: center;
}
#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}
